<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018-2019 ActionTech.
  ~ based on code by ServiceComb Pack CopyrightHolder Copyright (C) 2018,
  ~ License: http://www.apache.org/licenses/LICENSE-2.0 Apache License 2.0 or higher.
  -->

<Configuration status="WARN" monitorInterval="30">
  <Properties>
    <Property name="instance">stdout</Property>
    <Property name="log.dir">log</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{[ %p ] [%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%class][%line]:%message%n}"/>
    </Console>

    <RollingRandomAccessFile name="infoLog" fileName="${log.dir}/${instance}.log" filePattern="${log.dir}/%d{yyyy-MM}/${instance}-info-%d{yyyy-MM-dd}-%i.log.gz" append="true">
      <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%class][%line]:%message%n"/>
      <Filters>
        <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
      </Filters>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="20 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="warnLog" fileName="${log.dir}/${instance}.log" filePattern="${log.dir}/%d{yyyy-MM}/${instance}-warn-%d{yyyy-MM-dd}-%i.log.gz" append="true">
      <Filters>
        <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
        <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%class][%line]:%message%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="20 MB"/>
      </Policies>
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="errorLog" fileName="${log.dir}/${instance}.log" filePattern="${log.dir}/%d{yyyy-MM}/${instance}-error-%d{yyyy-MM-dd}-%i.log.gz" append="true">
      <Filters>
        <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%class][%line]:%message%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <SizeBasedTriggeringPolicy size="20 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <logger name="org.springframework" level="info" additivity="true">
      <!--<AppenderRef ref="warnLog"/>-->
      <AppenderRef ref="errorLog"/>
    </logger>

    <!--<logger name="java.sql.PreparedStatement" level="debug" additivity="true">
      <AppenderRef ref="Console"/>
    </logger>-->

    <Root level="info" includeLocation="true">
      <!--<AppenderRef ref="infoLog"/>-->
      <AppenderRef ref="errorLog"/>
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>